In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
stays = pd.read_csv('/Users/jinny/Documents/touristcast/datasets_clean/hotel_nights_FR_by-region_2010-2017.csv')
print(stays.columns)

Index(['Date', 'NbNights_Île-de-France', 'NbNights_Centre-Val de Loire',
       'NbNights_Bourgogne-Franche-Comté', 'NbNights_Normandie',
       'NbNights_Hauts-de-France', 'NbNights_Grand Est',
       'NbNights_Pays de la Loire', 'NbNights_Bretagne',
       'NbNights_Nouvelle-Aquitaine', 'NbNights_Occitanie',
       'NbNights_Auvergne-Rhône-Alpes', 'NbNights_Provence-Alpes-Côte d'Azur',
       'NbNights_Corse'],
      dtype='object')

In [3]:
# Replace part of column name with NbNights_<RegionName>
stays.columns = [x.strip().replace("NbNights_", '') for x in stays.columns]
stays.columns

Index(['Date', 'Île-de-France', 'Centre-Val de Loire',
       'Bourgogne-Franche-Comté', 'Normandie', 'Hauts-de-France', 'Grand Est',
       'Pays de la Loire', 'Bretagne', 'Nouvelle-Aquitaine', 'Occitanie',
       'Auvergne-Rhône-Alpes', 'Provence-Alpes-Côte d'Azur', 'Corse'],
      dtype='object')

In [11]:
stays = stays.rename(columns={'Île-de-France': 'IDF'})
stays = stays.rename(columns={'Centre-Val de Loire': 'CVL'})
stays = stays.rename(columns={'Bourgogne-Franche-Comté': 'BFC'})
stays = stays.rename(columns={'Normandie': 'NOR'})
stays = stays.rename(columns={'Hauts-de-France': 'HDF'})
stays = stays.rename(columns={'Grand Est': 'GES'})
stays = stays.rename(columns={'Pays de la Loire': 'PDL'})
stays = stays.rename(columns={'Bretagne': 'BRE'})
stays = stays.rename(columns={'Nouvelle-Aquitaine': 'NAQ'})
stays = stays.rename(columns={'Occitanie': 'OCC'})
stays = stays.rename(columns={'Auvergne-Rhône-Alpes': 'ARA'})
stays = stays.rename(columns={"Provence-Alpes-Côte d'Azur": 'PAC'})
stays = stays.rename(columns={'Corse': 'COR'})

# stays = stays.add_prefix('nights_')

# stays = stays.rename(columns={'nights_Date': 'date'})

stays.tail()

,date,nights_IDF,nights_CVL,nights_BFC,nights_NOR,nights_HDF,nights_GES,nights_PDL,nights_BRE,nights_NAQ,nights_OCC,nights_ARA,nights_PAC,nights_COR
91,2017-08-01,5694.74,738.31,834.17,979.76,856.48,1529.35,870.02,1131.36,2387.15,2426.26,2592.87,3365.52,681.86
92,2017-09-01,6040.26,594.91,725.11,772.73,850.44,1371.82,700.65,815.28,1638.24,1776.25,1931.24,2367.31,551.19
93,2017-10-01,6199.86,500.96,609.30,658.58,800.96,1266.90,576.17,637.19,1383.63,1389.69,1616.60,1828.70,227.34
94,2017-11-01,5344.01,377.57,471.98,505.72,702.61,1036.71,485.82,488.47,949.19,847.34,1326.84,1120.95,46.21
95,2017-12-01,5636.91,340.56,432.92,424.48,652.83,1305.32,426.76,415.64,839.74,836.23,1725.25,1038.43,35.13

In [27]:
stays.to_csv('nights_2010-2017.csv')

In [12]:
avgtemp = pd.read_csv('/Users/jinny/Documents/touristcast/datasets_clean/avgtemp_2010-2017.csv')
print(avgtemp.columns)

Index(['date', 'AvgTemp_bretagne', 'AvgTemp_corse', 'AvgTemp_centre',
       'AvgTemp_ile-de-france', 'AvgTemp_pays-de-la-loire',
       'AvgTemp_provence-alpes-c-te-d-azur', 'AvgTemp_normandie',
       'AvgTemp_GrandEst', 'AvgTemp_Nouvelle-Aquitaine',
       'AvgTemp_Auvergne-Rhone-Alpes', 'AvgTemp_Bourgogne-Franche-Comte',
       'AvgTemp_Occitanie', 'AvgTemp_Hauts-de-France'],
      dtype='object')

In [13]:
avgtemp.columns = [x.strip().replace("AvgTemp_", '') for x in avgtemp.columns]
avgtemp.columns

Index(['date', 'bretagne', 'corse', 'centre', 'ile-de-france',
       'pays-de-la-loire', 'provence-alpes-c-te-d-azur', 'normandie',
       'GrandEst', 'Nouvelle-Aquitaine', 'Auvergne-Rhone-Alpes',
       'Bourgogne-Franche-Comte', 'Occitanie', 'Hauts-de-France'],
      dtype='object')

In [14]:
avgtemp = avgtemp.rename(columns={'ile-de-france': 'IDF'})
avgtemp = avgtemp.rename(columns={'centre': 'CVL'})
avgtemp = avgtemp.rename(columns={'Bourgogne-Franche-Comte': 'BFC'})
avgtemp = avgtemp.rename(columns={'normandie': 'NOR'})
avgtemp = avgtemp.rename(columns={'Hauts-de-France': 'HDF'})
avgtemp = avgtemp.rename(columns={'GrandEst': 'GES'})
avgtemp = avgtemp.rename(columns={'pays-de-la-loire': 'PDL'})
avgtemp = avgtemp.rename(columns={'bretagne': 'BRE'})
avgtemp = avgtemp.rename(columns={'Nouvelle-Aquitaine': 'NAQ'})
avgtemp = avgtemp.rename(columns={'Occitanie': 'OCC'})
avgtemp = avgtemp.rename(columns={'Auvergne-Rhone-Alpes': 'ARA'})
avgtemp = avgtemp.rename(columns={"provence-alpes-c-te-d-azur": 'PAC'})
avgtemp = avgtemp.rename(columns={'corse': 'COR'})

# avgtemp = avgtemp.add_prefix('avgtemp_')

# avgtemp = avgtemp.rename(columns={'avgtemp_date': 'date'})

avgtemp.tail()

,date,avgtemp_BRE,avgtemp_COR,avgtemp_CVL,avgtemp_IDF,avgtemp_PDL,avgtemp_PAC,avgtemp_NOR,avgtemp_GES,avgtemp_NAQ,avgtemp_ARA,avgtemp_BFC,avgtemp_OCC,avgtemp_HDF
91,2017-08-01,20.0,31.0,24.0,24.0,23.0,29.0,21.0,22.842495,24.491417,25.000000,24.000000,26.129311,21.609782
92,2017-09-01,16.0,22.0,17.0,18.0,18.0,21.0,16.0,16.144168,18.088319,16.262854,16.321865,19.129311,17.000000
93,2017-10-01,16.0,21.0,16.0,17.0,17.0,20.0,16.0,14.288336,17.289868,15.262854,14.660933,17.752874,15.000000
94,2017-11-01,12.0,15.0,9.0,10.0,11.0,13.0,11.0,7.590009,10.886770,6.525709,7.660933,10.129311,9.390218
95,2017-12-01,10.0,11.0,7.0,7.0,9.0,9.0,9.0,4.590009,8.193804,2.525709,4.321865,7.129311,7.000000

In [28]:
avgtemp.to_csv('avgtemp_2010-2017.csv')

In [15]:
daysoff = pd.read_csv('/Users/jinny/Documents/touristcast/datasets_clean/daysoff_2010-2017.csv')
print(daysoff.columns)

Index(['Unnamed: 0', 'NbDaysOff'], dtype='object')

In [19]:
daysoff = daysoff.rename(columns={'Unnamed: 0': 'date'})
daysoff = daysoff.rename(columns={'NbDaysOff': 'daysoff'})
daysoff.head()

         date  daysoff
0  2010-01-01       11
1  2010-02-01        9
2  2010-03-01        9
3  2010-04-01       10
4  2010-05-01       12

In [29]:
daysoff.to_csv('daysoff_2010-2017.csv')

In [21]:
regionalgdp = pd.read_csv('/Users/jinny/Documents/touristcast/datasets_clean/regionalGDP_2010-2015.csv')
print(regionalgdp.columns)

Index(['Unnamed: 0', 'GDP_Auvergne-Rhône-Alpes', 'GDP_Bourgogne-Franche-Comté',
       'GDP_Bretagne', 'GDP_Centre-Val de Loire', 'GDP_Corse', 'GDP_Grand Est',
       'GDP_Hauts-de-France', 'GDP_Île-de-France', 'GDP_Normandie',
       'GDP_Nouvelle-Aquitaine', 'GDP_Occitanie', 'GDP_Pays de la Loire',
       'GDP_Provence-Alpes-Côte d'Azur'],
      dtype='object')

In [22]:
regionalgdp.columns = [x.strip().replace("GDP_", '') for x in regionalgdp.columns]
regionalgdp.columns

Index(['Unnamed: 0', 'Auvergne-Rhône-Alpes', 'Bourgogne-Franche-Comté',
       'Bretagne', 'Centre-Val de Loire', 'Corse', 'Grand Est',
       'Hauts-de-France', 'Île-de-France', 'Normandie', 'Nouvelle-Aquitaine',
       'Occitanie', 'Pays de la Loire', 'Provence-Alpes-Côte d'Azur'],
      dtype='object')

In [23]:
regionalgdp = regionalgdp.rename(columns={'Unnamed: 0': 'date'})
regionalgdp = regionalgdp.rename(columns={'Île-de-France': 'IDF'})
regionalgdp = regionalgdp.rename(columns={'Centre-Val de Loire': 'CVL'})
regionalgdp = regionalgdp.rename(columns={'Bourgogne-Franche-Comté': 'BFC'})
regionalgdp = regionalgdp.rename(columns={'Normandie': 'NOR'})
regionalgdp = regionalgdp.rename(columns={'Hauts-de-France': 'HDF'})
regionalgdp = regionalgdp.rename(columns={'Grand Est': 'GES'})
regionalgdp = regionalgdp.rename(columns={'Pays de la Loire': 'PDL'})
regionalgdp = regionalgdp.rename(columns={'Bretagne': 'BRE'})
regionalgdp = regionalgdp.rename(columns={'Nouvelle-Aquitaine': 'NAQ'})
regionalgdp = regionalgdp.rename(columns={'Occitanie': 'OCC'})
regionalgdp = regionalgdp.rename(columns={'Auvergne-Rhône-Alpes': 'ARA'})
regionalgdp = regionalgdp.rename(columns={"Provence-Alpes-Côte d'Azur": 'PAC'})
regionalgdp = regionalgdp.rename(columns={'Corse': 'COR'})

,date,avgtemp_BRE,avgtemp_COR,avgtemp_CVL,avgtemp_IDF,avgtemp_PDL,avgtemp_PAC,avgtemp_NOR,avgtemp_GES,avgtemp_NAQ,avgtemp_ARA,avgtemp_BFC,avgtemp_OCC,avgtemp_HDF
91,2017-08-01,20.0,31.0,24.0,24.0,23.0,29.0,21.0,22.842495,24.491417,25.000000,24.000000,26.129311,21.609782
92,2017-09-01,16.0,22.0,17.0,18.0,18.0,21.0,16.0,16.144168,18.088319,16.262854,16.321865,19.129311,17.000000
93,2017-10-01,16.0,21.0,16.0,17.0,17.0,20.0,16.0,14.288336,17.289868,15.262854,14.660933,17.752874,15.000000
94,2017-11-01,12.0,15.0,9.0,10.0,11.0,13.0,11.0,7.590009,10.886770,6.525709,7.660933,10.129311,9.390218
95,2017-12-01,10.0,11.0,7.0,7.0,9.0,9.0,9.0,4.590009,8.193804,2.525709,4.321865,7.129311,7.000000

In [25]:
# regionalgdp = regionalgdp.add_prefix('gdp_')

regionalgdp = regionalgdp.rename(columns={'gdp_date': 'date'})

regionalgdp.tail()

,date,gdp_ARA,gdp_BFC,gdp_BRE,gdp_CVL,gdp_COR,gdp_GES,gdp_HDF,gdp_IDF,gdp_NOR,gdp_NAQ,gdp_OCC,gdp_PDL,gdp_PAC
67,2015-08-01,250120.0,73942.0,91910.0,70355.0,8868.0,152170.0,156922.0,668823.0,91740.0,163898.0,159115.0,109767.0,154879.0
68,2015-09-01,250120.0,73942.0,91910.0,70355.0,8868.0,152170.0,156922.0,668823.0,91740.0,163898.0,159115.0,109767.0,154879.0
69,2015-10-01,250120.0,73942.0,91910.0,70355.0,8868.0,152170.0,156922.0,668823.0,91740.0,163898.0,159115.0,109767.0,154879.0
70,2015-11-01,250120.0,73942.0,91910.0,70355.0,8868.0,152170.0,156922.0,668823.0,91740.0,163898.0,159115.0,109767.0,154879.0
71,2015-12-01,250120.0,73942.0,91910.0,70355.0,8868.0,152170.0,156922.0,668823.0,91740.0,163898.0,159115.0,109767.0,154879.0

In [30]:
regionalgdp.to_csv('regionalgdp_2010-2015.csv')